/* Global */

body {
  margin: 0;
  padding: 0;
}

.main {
  cursor: url('/assets/images/hook.svg'), pointer;
  width: 100vw;
  height: 100vh;

  .fish {
    position: absolute;
    width: 128px;
    height: 128px;
  }
}