@import "variables";
/* Global */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  background-image: linear-gradient(45deg, $gradient-start, $gradient-end);
  cursor: url('/assets/images/worms.png') 64 64, auto;

  .bg-wrapper {
    position: relative;
    width: 100%;
    height: 100%;

    img {
      position: absolute;
      pointer-events: none;
    }

    .align {
      &.left {
        left: 0;
      }

      &.bottom-left {
        left: 0;
        bottom: 0;
      }

      &.bottom-center {
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 auto;
      }

      &.bottom-right {
        right: 0;
        bottom: 0;
      }
    }

    .shadow {
      filter: drop-shadow(2px 5px 5px #222); 
    }
  }
}

.fish {
  position: absolute;
  width: 80px;
  height: 80px;
  z-index: 999;
}

.trail {
  position: absolute;
  height: 8px;
  width: 8px;
  border-radius: 4px;
  background: black;
}
